<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
	http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
	
	<persistence-unit name="onlinemall" transaction-type="RESOURCE_LOCAL">
	
		<!-- <provider>org.hibernate.ejb.HibernatePersistence</provider> -->
		<class>com.ian.onlinemall.domain.User</class>
		<class>com.ian.onlinemall.domain.Address</class>
		<class>com.ian.onlinemall.domain.Order</class>
		<class>com.ian.onlinemall.domain.Cart</class>
		<class>com.ian.onlinemall.domain.Goods</class>
		<properties>
			<!-- <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
			<property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/onlinemall"/>
			<property name="hibernate.connection.username" value="root"/>
			<property name="hibernate.connection.password" value="1234567"/> -->
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect"/>
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.format_sql" value="true"/>
			<property name="hibernate.hbm2ddl.auto" value="update"/>
			<property name="hibernate.cache.use_second_level_cache" value="false"/>
			<property name="hibernate.c3p0.max_size" value="20"/>
			<property name="hibernate.c3p0.min_size" value="1"/>
			<property name="hibernate.c3p0.timeout" value="5000"/>
			<property name="hibernate.c3p0.max_statements" value="100"/>
			<property name="hibernate.c3p0.idle_test_period" value="3000"/>
			<property name="hibernate.c3p0.acquire_increment" value="2"/>
			<property name="hibernate.c3p0.validate" value="true"/>
		</properties>
	</persistence-unit>
</persistence>